.bienvenida-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    border: none;
    margin: 20px auto;
    padding: 25px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 0.5px black;
    background-image: url('../../assets/bg3.jpg');
    background-position: center;
    background-size: cover;
}


.bienvenida-container h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px auto;
    padding: 0;
    color: white;
    text-shadow: 1px 0px 4px rgb(223, 104, 25);
}

.bienvenida-container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
    color: white;
    text-shadow: 1px 0px 1px rgb(223, 88, 25);
}

.bienvenida-container h2 span {
    color: red;
    text-shadow: 1px 0px 15px rgb(0, 0, 0);
}

.bienvenida-container button{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: green;
    color: white;
    border: none;
    border-radius: 14px;
    box-shadow: 1px 1px 9px 0px black;
    font-size: 20px;
    outline: none;
    transition: all 0.25s;
}

.bienvenida-container button:active{
    color: white;
    font-size: 20px;
}
.bienvenida-container button:hover{
    color: black;
    font-size: 25px;
}

.bienvenida-container button::before{
    content: '❤ ';
    color: black;
}

.vehiculos{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.vehiculo{
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px -3px #102438;
    border: none;
    user-select: none;
    cursor: pointer;
}


.vehiculo img:hover{
    width: 450px;
    height: 350px;
}

.vehiculo img{
    width: 350px;
    height: 250px;
    border-radius: 2px;
    transition: all 4s;
}

.vehiculo p {
    text-align: center;
}
.vehiculo h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    max-lines: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.265);
}
