.encabezado{
    background: rgba(0, 0, 0, 0.598);
    width: 100%;
}

.encabezado h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px black;
    font-size: 40px;
    color: white;
}

.lista-clientes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cliente{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 25em;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 5px;
    color: white;
    background: #9e0fb1;
    transition: all 1s;
    text-align: center;
}

.cliente img{
    width: 16em;
    height: 16em;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px black;
}

.cliente p{
    font-size: 1.5em;
    padding: 0;
}
.cliente h1{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.loading{
    margin: 0 auto;
    text-align: center;
}