<div class="encabezado">
    <h1>Clientes frecuentes</h1>
</div>
<div class="lista-clientes">
    <div class="cliente">
        <img src="../../assets/cliente1.png" alt="">
        <h1>Baltazar soberanes</h1>
        <p>Estudiante en la UAdeO</p>
    </div>
    <div class="cliente">
        <img src="../../assets/cliente3.png" alt="">
        <h1>Pablito OniChan</h1>
        <p>Estudiante en la UAdeo</p>
    </div>
    <div class="cliente">
        <img src="../../assets/client2.jpg" alt="">
        <h1>El Guasón</h1>
        <p>Payaso callejero en nueva york</p>
    </div>
</div>