<div class="encabezado">
    <h1>Nosotros</h1>
</div>
<div class="lista-nosotros">
    <div class="integrante">
        <img src="../../assets/paul.jpg" alt="">
        <h1>Paul Veliz</h1>
    </div>
    <div class="integrante">
        <img src="../../assets/alan.jpg" alt="">
        <h1>Edbert Alan</h1>
    </div>
    <div class="integrante">
        <img src="../../assets/azucena.jpg" alt="">
        <h1>Alejandra Azucena</h1>
    </div>
    <div class="integrante">
        <img src="../../assets/silvano.jpg" alt="">
        <h1>Silvano Armenta</h1>
    </div>
    <div class="integrante">
        <img src="../../assets/jorge.jpg" alt="">
        <h1>Jorge Gamez</h1>
    </div>
    <div class="integrante">
        <img src="../../assets/pablo.jpg" alt="">
        <h1>Pablo Chavez</h1>
    </div>
</div>