<div class="formulario-titulo">
    Nueva solicitud
</div>
<div class="formulario">
    <div class="form-hijo">
        <label for="nombreCompleto">¿Cual es tu nombre?</label>
        <input maxlength="50" minlength="5" type="text" placeholder="Nombre completo" name="nombreCompleto" id="nombreCompleto">
    </div>
    <div class="form-hijo">
        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="datetime-local" name="fechaNacimiento" id="fechaNacimiento">
    </div>
    <div class="form-hijo">
        <label for="domicilio">¿Donde vives?</label>
        <input maxlength="50" type="text" placeholder="Domicilio actual" id="domicilio">
    </div>
    <div class="form-hijo">
        <label for="curp">¿Cual es tu CURP?</label>
        <input maxlength="18" type="text" placeholder="CURP" id="curp">
    </div>
    <div class="form-hijo">
        <label for="ingresosMensuales">¿Cuales son tus ingresos mensuales?</label>
        <input type="number" placeholder="Ingresos mensuales" id="ingresosMensuales">
    </div>
    <div class="form-hijo">
        <label for="soltero">¿Cual es tu estado civil actual?</label>
        <select name="" id="">
            <option value="1">SOLTERO</option>
            <option value="2">CASADO</option>
        </select>
    </div>
    <div class="subida-imagen">
        <button class="regresar-from-image-button" (click)="mostrarFormHijos(true)">Regresar</button>
        <hr>
        <label for="subir-imagen-button">Sube tu imagen de perfil</label>
        <img id="image-input" src="../../assets/profile-unknown.png">
        <input type="file" id="image-picker" accept="image/x-png,image/gif,image/jpeg" hidden>
        <button class="subir-imagen-button" id="subir-imagen-button" (click)="seleccionarImagen()">
            Subir imagen
        </button>
        <hr>
        <div class="section-hijos">
            <label>¿Tienes hijos?
                <select name="gotHijos" id="gotHijos">
                    <option value="false">No</option>
                    <option value="true">Si</option>
                </select>
            </label>
            <div class="cantidad-hijos">
                <label for="">¿Cuantos?
                    <select name="cantHijos" id="cantHijos">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <button class="continue-button" id="step1button" (click)="continuarToStepTwo()" >Solicitar credito</button>
</div>
