<div class="header">
    <div class="banner"></div>
    <div class="title">
        Auto shop "UAdeO"
    </div>
    <div class="subtitle">
        Venta de automoviles a <span class="resaltado">CREDITO</span>.
    </div>
</div>
<div class="encabezado">
    <div class="menu">
        <a [routerLink] = "['/']" class="menuItem">Inicio</a>
        <a [routerLink] = "['solicitar']"class="menuItem">Solicitar credito</a>
        <a [routerLink] = "['clientes']" class="menuItem">Nuestros clientes</a>
        <a [routerLink] = "['nosotros']" class="menuItem">Nosotros</a>
        <a [routerLink] = "['acceso']" class="menuItem">Acceder</a>
    </div>
</div>