<div class="container" #fichaBody>
    <h1>Ficha de pago</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur reprehenderit quas repellendus similique ratione quisquam earum nobis praesentium, possimus provident explicabo beatae iusto odit hic, libero, quae eveniet. Dignissimos, modi.
        Provident iusto quod fugiat doloremque aliquam, reprehenderit debitis dolores officiis nobis quia. Quidem aliquam nam consectetur natus officia magni ipsa cum, harum dicta amet dolores, iusto aut error modi eius?
        Totam, odit eos, iusto dolorem iste esse dolore praesentium quae, nulla molestias repudiandae illo suscipit tempora qui! Cumque soluta tempore delectus temporibus ad necessitatibus pariatur eum expedita, tenetur, aliquam atque?
    </p>
    <button (click)="descargarFicha()" >Descargar ficha</button>
</div>