<div class="main">
    <div class="client-box" *ngIf="this.cliente; else noClient">
        <img src="{{cliente.datos_generales.url_imagen}}" alt="Imagen del cliente">
        <span>¡Hola {{cliente.datos_generales.nombre_completo}}!</span>
    </div>

    <hr>
    <div class="content">
        <h1>Bienvenido a nuestra plataforma</h1>
        <span>¿Que movimiento deseas realizar?</span>
    </div>
    
    <div class="options-box">
        <button (click)="cagarDeudas()">Abonar a deuda</button>
        <button>Estado credicticio</button>
        <button>Historial</button>
        <button>Comprar de nuevo</button>
        <button (click)="openModalInfoCliente(true)">Mi informacion</button>
    </div>

    <p>Para nosotros tu opinion es muy importante, si tienes dudas por favor comunicate con nosotros a la brevedad posible.</p>

    <div class="main-deudas" *ngIf="this.selectedDeudas">
        <h1>Deudas actuales</h1>
        <div class="deudas" *ngIf="this.deudas; else noClient">
            <div class="deuda" *ngFor="let deuda of this.deudas">
                <span> <b>Folio:</b> #{{deuda.id}}</span>
                <span> <b>Fecha de incio:</b> {{deuda.fecha}}</span>
                <span> <b>Ultimo abono:</b> {{deuda.ultimoAbono}}</span>
                <span> <b>Mensualidades restantes:</b> {{deuda.idFinanciamientoNavigation.meses}}</span>
                <span> <b>Abono mensual:</b> {{deuda.idFinanciamientoNavigation.mensualidad}}</span>
                <span> <b>Usted debe:</b> {{deuda.idFinanciamientoNavigation.cantidadAFinanciar}}</span>
                <button (click)="openModal(true, deuda);">Abonar</button>
            </div>
        </div>
    </div>

    <ng-template #noClient>
        <img src="../../../assets/loading.gif" alt="">
    </ng-template>
</div>

<div class="modal">
    <div class="contenido">
        <label (click)="openModal(false, null)" >X</label>
        <div class="pre" *ngIf="!isLoading; else loading">
            <div class="modal-deuda-content" *ngIf="this.clickedDeuda">
                <header>Abonar a tu deuda</header>
                <div class="image-content">
                    <p id="paytext">
                        Al aceptar este formulario estará aprobando el cobro a su tarjeta de credito
                        por <span class="cobro">${{clickedDeuda.idFinanciamientoNavigation.mensualidad}}</span> para abonar a la deuda seleccionada.
                        ¿Continuar con el pago?
                    </p>
                    <button id="paybutton" (click)="abonarDeuda()">ACEPTAR Y ABONAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <ng-template #loading>
        <header>Abonar a tu deuda</header>
        <div class="image-content">
            <p id="paytext">
                Generando abono...
            </p>
        </div>
    </ng-template>

<div class="modal-info-client">
    <div class="contenido">
        <label (click)="openModalInfoCliente(false)" >X</label>
            <header>Mi informacion</header>
            <div class="image-content" *ngIf="this.cliente && this.hasDataEncripted && !isLoading; else noClient">
                <p>
                    Nuestra empresa es pionera en seguridad, por lo que nosotros te damos la opcion de poder
                    encriptar tus datos y que solo tu tengas la llave para volver a desbloquear estos datos.
                </p>
                <h1>{{this.hasDataEncripted.msg}}</h1>
                <section class="my-info">
                    <div class="info-panel">
                        <i>Tu nombre</i>
                        <input type="text" value="{{cliente.datos_generales.nombre_completo}}" readonly>
                        <i>Tu domicilio</i>
                        <input type="text" value="{{cliente.datos_generales.domicilio}}" readonly>
                        <i>Curp</i>
                        <input type="text" value="{{cliente.datos_generales.curp}}" readonly>
                        <i>Fecha nacimiento</i>
                        <input type="text" value="{{cliente.datos_generales.fecha_nacimiento}}" readonly>
                        <i>Ingresos mensuales</i>
                        <input type="text" value="${{cliente.datos_generales.ingresos_mensuales}}" readonly>
                    </div>
                    <div class="info-panel">
                        <i>Edad</i>
                        <input type="text" value="{{cliente.datos_generales.edad}}" readonly>
                        <i>Estado civil</i>
                        <input type="text" value="{{cliente.datos_generales.estado_civil}}" readonly>
                        <i>Hijos</i>
                        <input type="text" value="{{cliente.hijos.length}}" readonly>
                    </div>
                </section>
                <button (click)="encriptarDatos()">{{hasDataEncripted.is_encripted ? 'DECRIPTAR DATOS' : 'ENCRIPTAR DATOS'}}</button>
            </div>
    </div>
</div>