<div class="solicitar-container">
    <div class="encabezado">
        <h1>¡Estrena un automovil hoy!</h1>
    </div>
    <section class="informativa">
        <div class="box">
            <h2>¿Que necesito?</h2>
            <ul>
                <li class="requisito">Tener más de 18 años.</li>
                <li class="requisito">Contar con un buen historial crediticio.</li>
                <li class="requisito">Comprobar una antigüedad mínima en tu empleo actual.</li>
                <li class="requisito">Contar con una cuenta de ahorro bancaria.</li>
                <li class="requisito">Una identificación oficial vigente.</li>
                <li class="requisito">Un comprobante de ingresos.</li>
                <li class="requisito">Llenar un formulario proporcionado por nosotros.</li>
            </ul>
        </div>
        <div class="box centered">
            <h2>¿Como lo solicito?</h2>
            <p>
                Deberas tener todos los documentos requeridos a la mano y llenar un formulario proporcionado por nosotros
                esta aplicacion web se encargará de evaluar si puedes ser beneficiario de un credito automotriz acorde los documentos
                y la informacion recolectada durante el formulario de encuesta, <span>recuerda que todas tus respuestas deben ser veridicas.</span> 
                debido a que si eres beneficiario se te pedira el comprobante de toda la informacion recolectada para proceder formalmente con el
                credito.
            </p>
            <button class="solicitar-button">
                SOLICITAR AHORA
            </button>
        </div>
    </section>
</div>